<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" sizes="16x16 32x32 96x96 160x160 196x196" href="https://shadowverse-portal.com/public/assets/image/common/global/favicon/favicon.ico">
  <title>SVPrayingAssistant</title>
  <link rel="stylesheet" href="https://shadowverse-portal.com/public/assets/css/core.css" />
  <link rel="stylesheet" href="https://shadowverse-portal.com/public/assets/css/page/deck/index.css" />
  <link rel="stylesheet" href="SVPrayingAssistant.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.css" rel="stylesheet">
</head>

<body class="ja">
  <header>
    <nav>
      <ul>
        <li>
          <h1 style="padding-left: 10px; padding-right: 10px;">SVPrayingAssistant</h1>
        </li>
        <li><a href="">About</a></li>
        <li><a href="https://shadowverse-portal.com/">ShadowversePortal</a></li>
        <li><a href="https://github.com/Dy-gtlf/SVPrayingAssistant">GitHub</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="f-container" id="deckModel">
      <!-- 左側 -->
      <div class="f-side">
        <div class="deck-container">
          <!-- デッキコード入力欄 -->
          <div class="f-contents" style="width: 270px;">
            <span class="deck-summary-item-label">デッキコード</span>
            <input class="deck-code-input" id="deckCode" type="text" placeholder="code" maxlength="4" onkeydown="onEnterKeyDown();">
            <button class="deck-code-button" type="button" onclick="getDeckData();">取得</button>
          </div>
          <!-- デッキリスト -->
          <div class="f-contents" v-if="deck.isSet" v-cloak>
            <div class="deck-detail-side">
              <ul>
                <div v-for="card in deck.cardList">
                  <li class="el-card-list is-static">
                    <img class="el-card-list-image" v-bind:src="`https://shadowverse-portal.com/image/card/phase2/common/L/L_${card.card_id}.jpg`" alt="">
                    <div class="el-card-list-info">
                      <p class="el-card-list-cost">
                        <i class="icon-cost is-small" v-bind:class="`is-cost-${card.cost}`">{{card.cost}}</i>
                      </p>
                      <p class="el-card-list-rarity">
                        <i class="icon-rarity is-rarity-2" v-bind:class="`is-rarity-${card.rarity}`"></i>
                      </p>
                      <p class="el-card-list-info-name">
                        <span class="el-card-list-info-name-text">{{card.card_name}}</span>
                      </p>
                      <p class="el-card-list-info-count">×{{card.card_ct}}</p>
                      <p class="el-card-list-link">
                        <a class="el-icon-search is-small tooltipify" v-bind:href="`https://shadowverse-portal.com/card/${card.card_id}`" target="_blank" v-bind:data-card-tribe-name="`${card.tribe_name}`" v-bind:data-card-atk="`${card.atk}`" v-bind:data-card-evo-atk="`${card.evo_atk}`"
                          v-bind:data-card-life="`${card.life}`" v-bind:data-card-evo-life="`${card.evo_life}`" v-bind:data-card-name="`${card.card_name}`" v-bind:data-card-skill-disc="`${card.skill_disc}`" v-bind:data-card-char-type="`${card.char_type}`"
                          v-bind:data-card-src="`https://shadowverse-portal.com/image/card/phase2/common/C/C_${card.card_id}.png`" v-bind:data-card-name-src="`https://shadowverse-portal.com/image/card/phase2/ja/N/N_${card.card_id}.png`">
                          <i class="icon-search is-small"></i>
                        </a>
                      </p>
                    </div>
                  </li>
                  <li> </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <!-- カードツールチップ-->
        <div id="tooltip" class="bl-tooltip clearfix">
          <div class="l-left bl-tooltip-container">
            <div class="bl-tooltip-image-wrapper">
              <div class="bl-tooltip-image">
                <img class="is-invisible" data-card-src="" src="" alt="" />
                <div class="bl-tooltip-cardname" id="tooltipCardname">
                  <img data-card-name-src="" src="" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="l-right bl-tooltip-container">
            <div class="bl-tooltip-header">
              <p class="bl-tooltip-card-name" data-card-name=""></p>
              <p class="bl-tooltip-card-tribe-name"><span class="bl-tooltip-card-tribe-name-label">TYPE: </span><span data-card-tribe-name=""></span></p>
            </div>
            <div class="bl-tooltip-card-detail">
              <div class="bl-tooltip-card-meta clearfix js-tooltip-visible-state">
                <i class="el-label-card-state is-small l-left">進化前</i>
                <p class="bl-tooltip-card-status l-right">
                  <span class="el-card-status is-atk is-small" data-card-atk=""></span>
                  <span class="el-card-status is-life is-small" data-card-life=""></span>
                </p>
              </div>
              <div class="bl-tooltip-card-description">
                <p class="bl-tooltip-card-text" data-card-skill-disc="">
                </p>
              </div>
            </div>
            <div class="bl-tooltip-card-detail js-tooltip-visible-state">
              <div class="bl-tooltip-card-meta clearfix">
                <i class="el-label-card-state is-small l-left">進化後</i>
                <p class="bl-tooltip-card-status l-right">
                  <span class="el-card-status is-atk is-small" data-card-evo-atk=""></span>
                  <span class="el-card-status is-life is-small" data-card-evo-life=""></span>
                </p>
              </div>
              <div class="bl-tooltip-card-description">
                <p class="bl-tooltip-card-text" data-card-evo-skill-disc="">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右側 -->
      <div class="f-contents test" style="width: 500px;">
        <div style="width: 500px;">
          <ul class="tab2">
            <li class="tab2__item on"><span class="tab2__link" data-tab-body="1">デッキ情報</span></li>
            <li class="tab2__item"><span class="tab2__link" data-tab-body="2">タブ２</span></li>
            <li class="tab2__item"><span class="tab2__link" data-tab-body="3">タブ３</span></li>
            <li class="tab2__item"><span class="tab2__link" data-tab-body="4">タブ４</span></li>
            <li class="tab2__item"><span class="tab2__link" data-tab-body="5">タブ５</span></li>
          </ul>
          <div class="tab2-body">
            <div class="tab2-body__item tab2-body__item--1 on">
              <!-- クラス -->
              <div class="" v-if="deck.isSet" v-cloak style="width: 270px;">
                <div class="deck-summary-red-ether clearfix">
                  <p class="deck-summary-item">
                    <span class="deck-summary-item-label">クラス: </span>{{ info.clan[deck.clan] }}
                  </p>
                  <p class="deck-summary-item">
                    <span class="deck-summary-item-label">生成: </span>{{ deck.sumOfRedEthers.toLocaleString() }}
                  </p>
                </div>
              </div>
              <!-- コストグラフ -->
              <div class="" v-if="deck.isSet" v-cloak>
                <div class="deck-summary-cost">
                  <ul class="el-graph-cost-count">
                    <li class="el-graph-cost-count-item" v-for="cost in deck.costGraph">{{ cost }}</li>
                  </ul>
                  <ul class="el-graph-cost-amount">
                    <li class="el-graph-cost" v-for="cost in deck.costGraph">
                      <i class="el-graph-cost-item is-anim" v-bind:class="`el-graph-cost-${cost}`"></i>
                    </li>
                  </ul>
                  <ul class="el-graph-cost-mark">
                    <li class="is-less-than">
                      <i class="icon-graph-cost is-graph-1 is-minus"></i>
                    </li>
                    <li>
                      <i class="icon-graph-cost is-graph-2"></i>
                    </li>
                    <li>
                      <i class="icon-graph-cost is-graph-3"></i>
                    </li>
                    <li>
                      <i class="icon-graph-cost is-graph-4"></i>
                    </li>
                    <li>
                      <i class="icon-graph-cost is-graph-5"></i>
                    </li>
                    <li>
                      <i class="icon-graph-cost is-graph-6"></i>
                    </li>
                    <li>
                      <i class="icon-graph-cost is-graph-7"></i>
                    </li>
                    <li class="is-greater-than">
                      <i class="icon-graph-cost is-graph-8 is-plus"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- カードタイプ -->
              <div class="" v-if="deck.isSet" v-cloak>
                <div class="deck-summary-card-type">
                  <p class="deck-summary-card-type-status" v-for="char in info.charType" style="text-align: center;">{{ deck.cardCountsByCharType[char] }}
                    <span class="deck-summary-card-type-status-label">{{ char }}</span>
                  </p>
                </div>
              </div>
              <div id="charTypeChart"></div>
              <div id="tribeTypeChart"></div>
            </div>
            <div class="tab2-body__item tab2-body__item--2">
              タブのコンテンツ２
            </div>
            <div class="tab2-body__item tab2-body__item--3">
              タブのコンテンツ３
            </div>
            <div class="tab2-body__item tab2-body__item--4">
              タブのコンテンツ４
            </div>
            <div class="tab2-body__item tab2-body__item--5">
              タブのコンテンツ５
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="text">
    <nav>
      <p style="text-align: center; margin: 0;">© Cygames, Inc.</p>
    </nav>
  </footer>
  <script src="https://shadowverse-portal.com/public/assets/js/jquery/index.js"></script>
  <script src="https://shadowverse-portal.com/public/assets/js/jquery.langswitcher/index.js"></script>
  <script src="https://shadowverse-portal.com/public/assets/js/jquery.popupfactory/index.js"></script>
  <script src="https://shadowverse-portal.com/public/assets/js/common/index.js"></script>
  <script src="https://shadowverse-portal.com/public/assets/js/jquery.tooltipify/index.js"></script>
  <script src="https://shadowverse-portal.com/public/assets/js/deck/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="chart.js"></script>
  <script src="vm.js"></script>
  <script src="SVPortalAPI.js"></script>
  <script src="app.js"></script>
</body>

</html>