.deck-summary {
  border-bottom: none;
}

.deck-detail-side {
  float: left;
}

.deck-code-input {
  color: black;
  margin-left: 23px;
  margin-bottom: 10px;
  width: 80px;
  text-align: center;
}

.deck-code-button {
  color: black;
}

[v-cloak] {
  display: none;
}

.deck {
  padding: 20px;
}

.deck-summary-card-type {
  margin-top: 10px;
}

.deck-summary-red-ether {
  margin-top: 10px;
  margin-bottom: 10px;
}

.deck-summary-cost {
  text-align: center;
}

.deck-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 310px;
}

.deck-summary-card-type-status {
  margin-left: 0;
}

.el-rest-card-list {
  position: relative;
  visibility: visible;
  width: 270px;
  height: 46px;
  margin-top: 2px;
  cursor: default;
  transition: all .35s ease 0s;
  opacity: 1;
  background-position: center;
  -webkit-background-size: 30px 30px;
  background-size: 30px;
}

.tb-cell {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  color: white;
}

.card-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: black;
  width: 30px;
}

.card-button-size {
  width: 30px;
}

.draw-probability {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.test-blue {
  border: solid 1px blue;
}

.test-red {
  border: solid 1px red;
}

.test-green {
  border: solid 1px green;
}


/* ナビゲーションバー */

nav {
  background-color: #222222;
  color: white;
}

nav ul {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  margin: 0;
  list-style-type: none;
  flex-wrap: nowrap;
}

nav a {
  display: block;
  padding: 12px 12px;
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background-color: gray;
}


/* flexbox */

.f-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-width: 950px;
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 20px;
}

.f-side {
  width: 310px;
  border-left: solid gray 1px;
}

.f-side-contents {
  flex: 1;
}

.f-contents {
  width: 650px;
  min-width: 650px;
  border-left: solid gray 1px;
  border-right: solid gray 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-f-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.tab-f-contents {
  width: 50%;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  max-height: 300px;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


/* gridコンテナ */

.grid-container {
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-areas: "cards conditions";
  gap: 0px;
  margin-top: 20px;
}

.grid-cards {
  grid-area: cards;
}

.grid-conditions {
  grid-area: conditions;
}


/* タブ */

.tab2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 !important;
}

.tab2__item {
  flex: 1;
  flex-basis: 120px;
}

.tab2__link {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #222222;
  cursor: pointer;
  margin: 1px;
}

.tab2__link:hover {
  background-color: gray;
}

.tab2__link.on {
  background-color: gray;
}

.tab2-body__item {
  margin-top: 10px;
  display: none;
  /* text-align: center; */
}

.tab2-body__item.on {
  display: block;
}

.c3-tooltip-container {
  color: black;
}

.c3-legend-item {
  fill: white;
}

.c3-chart-arc path {
  stroke: none !important;
}

.c3-chart-arcs-title {
  fill: white;
}


/* loading */

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  min-width: 100px;
  /*中央配置するボックスの横幅*/
  min-height: 100px;
  /*中央配置するボックスの縦幅*/
  top: 50%;
  /*上端を中央に*/
  left: 50%;
  margin: -50px 0 0 -50px;
}

.loader-bg {
  background-color: gray;
  opacity: 0.9;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 9998;
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: gray;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.card-base {
  position: relative;
}

.card-name {
  position: absolute;
  top: 30px !important;
  left: 52px !important;
  width: 117px;
  height: 12px;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}